<div id="<%= dom_id client %>" class="card group">

  <div class="card-header">

    <div class="card-header-info card-header-animate">
      <p class="card-header-title"><%= link_to client.name, app_client_path(client), class:'card-header-title' %></p>
      <p class="card-header-subtitle card-header-subtitle-animate"><%= client.cnpj %></p>
    </div>

    <%= button_tag class:'card-header-btn', data: { popover_target: "popover-click-#{client.id}", popover_trigger: "click", popover_placement:"left" } do %>
      <%= icon('fa-solid','bars', class:'fa-sm')%>
    <%end%>

  </div>

  <%# CARD BODY %>
  <div class="flex justify-between items-center gap-2">

    <% if client.active %>
      <p class="card-tag-active "><%= icon('fa-solid','check', class:'')%> <%= t('activerecord.options.app/client.active.true')%></p>
    <%else%>
      <p class="card-tag-inactive "><%= icon('fa-solid','xmark', class:'')%> <%= t('activerecord.options.app/client.active.false')%> </p>
    <%end%>

    <p class="card-tag-readonly ">
      <%= icon('fa-solid','key', class:'')%> <%= client.used_licenses %> / <%= client.licenses %>
    </p>
  </div>
  <%# END BODY %>

  <div data-popover id="popover-click-<%=client.id%>" role="tooltip" class="card-popover invisible">

    <%= link_to edit_app_client_path(client), class:'card-popover-btn-primary' do %>
      <%= icon('fa-solid', 'pen-to-square', class:'btn-icon') %>
      <p class=""> <%= t('views.app.general.edit')%></p>
    <%end%>

    <div data-popper-arrow></div>
  </div>

</div>
