<%= form_with(model: app_client, class: "contents") do |form| %>

  <% if app_client.errors.any? %>
    <% flash.now[:error] = app_client.errors.to_a%>
  <% end %>

  <div class="grid grid-cols-1 xl:grid-cols-4 gap-4">

    <div class="">
      <%= form.label :name, class:'' %>
      <%= form.text_field :name, class:"form-input", placeholder:" " %>
    </div>

    <div class="">
      <%= form.label :cnpj, class:'' %>
      <%= form.text_field :cnpj, class:"form-input", placeholder:" " %>
    </div>

    <div class="">
      <%= form.label :licenses, class:'' %>
      <div class="relative">
        <div class="form-input-icon"><%= icon('fa-solid','key') %></div>
        <%= form.text_field :licenses, class:"form-input with-icon", placeholder:" " %>
      </div>
    </div>

    <div class="group">
      <%= form.label :active, class:'pointer-events-none' %>
      <%= form.check_box :active, class: "hidden peer" %>
      <%= form.label :active, class:'form-checkbox w-full 
        group-hover:bg-gray-100        group-hover:peer-checked:bg-blue-700  
        dark:group-hover:bg-gray-700   dark:group-hover:peer-checked:bg-blue-700' do %>
      <% end %>

      <div class="text-base peer-text hidden peer-checked:block "> <%= icon('fa-solid','check')%> <%= t('activerecord.options.app/client.active.true')%></div>
      <div class="text-base peer-text block peer-checked:hidden "> <%= icon('fa-solid','xmark')%> <%= t('activerecord.options.app/client.active.false')%></div>
    </div>

    <div class="col-span-2">
      <%= form.label :image, class:'' %>
      <%= form.file_field :image, class:'mt-2 block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400' %>
      <p class="mt-1 text-xs text-gray-500 dark:text-gray-300" id="file_input_help">SVG, PNG, JPG or GIF (MAX. 600x400px).</p>
    </div>

  </div>

  <div class="mt-4 inline-flex w-full justify-end">
    <%= form.submit class: "btn-primary" %>
  </div>

<% end %>
