<%= form_with(model: app_vendor, class: "contents space-y-4") do |form| %>
  <% if app_vendor.errors.any? %>
    <% flash.now[:error] = app_vendor.errors.to_a%>
  <% end %>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

    <div class="">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-input" %>
    </div>

    <div class="">
      <%= form.label :role %>
      <%= form.text_field :role, class: "form-input" %>
    </div>

    <div class="">
      <%= form.label :phone %>
      <%= form.text_field :phone, class: "form-input" %>
    </div>

    <div class="">
      <%= form.label :email %>
      <%= form.text_field :email, class: "form-input" %>
    </div>

  </div>

  <%# CITIES INPUT %>
  <% if @cities.present? %>
    <div class="">
      <p class="font-bold text-2xl"> <%= App::Vendor.human_attribute_name('city_ids') %> </p>
      <div class="mt-2 bg-gray-100 dark:bg-gray-900 py-2 px-3 space-y-1 rounded-lg text-sm grid grid-cols-1 lg:grid-cols-3">
        <%= form.collection_check_boxes  :city_ids, @cities, :id, :name, include_hidden: true do |city| %>
          <div class="">
            <%= city.check_box(class: 'form-checkbox-simple dark:bg-gray-800 bg-gray-200 mr-1 ') %>
            <%= city.label class:'cursor-pointer text-sm' do %>
              <%= city.text %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <%# END OF CITIES %>

  <div class="mt-4 inline-flex w-full justify-end">
    <%= form.submit class: "btn-primary" %>
  </div>

<% end %>
