<div id="<%= dom_id vendor %>" class='card group'>

  <div class="card-header">

    <div class="card-header-info card-header-animate">
      <p class="card-header-title"><%= link_to vendor.name, app_vendor_path(vendor), class:'card-header-title' %></p>
      <p class="card-header-subtitle card-header-subtitle-animate"><%= vendor.role %></p>
    </div>

    <%= button_tag class:'card-header-btn', data: { popover_target: "popover-click-#{vendor.id}", popover_trigger: "click", popover_placement:"left" } do %>
      <%= icon('fa-solid','bars', class:'fa-sm')%>
    <%end%>

  </div>

  <div data-popover id="popover-click-<%=vendor.id%>" role="tooltip" class="card-popover invisible">

    <%= link_to edit_app_vendor_path(vendor), class:'card-popover-btn-primary' do %>
      <%= icon('fa-solid', 'pen-to-square', class:'btn-icon') %>
      <p class=""> <%= t('views.app.general.edit')%></p>
    <%end%>
    
    <div data-popper-arrow></div>
  </div>

</div>
