<% content_for :ctas_primary do %>
  <%= link_to new_app_vendor_path, class: "btn-primary flex-none" do %>
    <%= icon('fa-solid','plus',class:'btn-icon') %>
    <%= App::Vendor.model_name.human %>
  <% end %>
<% end %>

<% provide :head_title, App::Vendor.model_name.human.pluralize %>
<% provide :page_title, App::Vendor.model_name.human.pluralize %>
<% provide :sidebar, render(partial: 'app/vendors/sidebar') %>

<% content_for :page_content do %>

  <% if @app_vendors.present? %>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-4 gap-4">
      <%= render(@app_vendors) %>
    </div>
  <%elsif @app_vendors.count.zero?%>
    <%= render partial: 'app/shared/has_no_entry', locals: { msg: t('views.app.vendors.form.has_no_entry').html_safe }  %>
  <% end %>

<%end%>
