<div class="space-y-4">

  <div class="grid grid-cols-1 xl:grid-cols-3 gap-4">

    <div class="">
      <p class=""><%= App::Course.human_attribute_name('institution') %></p>
      <div class="relative">
        <%= link_to app_negotiation.course.institution, class:'detail-input-icon' do %>
          <%= icon('fa-solid', 'building-columns', class:'')%>
        <%end%>
        <p class="detail-input with-icon"><%= app_negotiation.course.institution.abreviation_and_city %></p>
      </div>
    </div>

    <div class="">
      <p class=""><%= App::Negotiation.human_attribute_name('course_id') %></p>
      <div class="relative">
        <%= link_to app_negotiation.course, class:'detail-input-icon' do %>
          <%= icon('fa-solid', 'chalkboard-user', class:'')%>
        <%end%>
        <p class="detail-input with-icon"><%= app_negotiation.course.name %></p>
      </div>
    </div>

    <div class="">
      <p class=""><%= App::Negotiation.human_attribute_name('period') %></p>
      <p class="detail-input "><%= app_negotiation.period_in_words_and_calendar %></p>
    </div>

  </div>

  <div class="grid grid-cols-1 xl:grid-cols-4 gap-4">

    <div class="">
      <p class=""><%= App::Negotiation.human_attribute_name('reference') %></p>
      <p class="detail-input"><%= app_negotiation.reference %></p>
    </div>

    <div class="">
      <p class=""><%= App::Negotiation.human_attribute_name('vendor_id') %></p>
      <div class="relative">

        <% if app_negotiation.vendor %>
          <%= link_to app_negotiation.vendor, class:'detail-input-icon' do %>
            <%= icon('fa-solid', 'user', class:'')%>
          <%end%>

        <% else %>
          <div class="detail-input-icon hover:text-inherit">
            <%= icon('fa-solid', 'user', class:'')%>
          </div>
        <% end %>
        <p class="detail-input with-icon"><%= app_negotiation.vendor ? app_negotiation.vendor.name : t('activerecord.blank_entries.vendor')%></p>
      </div>
    </div>

    <div class="">
      <p class=""><%= App::Negotiation.human_attribute_name('status') %></p>
      <% if app_negotiation.status %>
        <div class="relative text-<%= app_negotiation.status.color %>-600 dark:text-<%= app_negotiation.status.color %>-600">
          <div class='detail-input-icon hover:text-inherit'>
            <%= icon(app_negotiation.status.style, app_negotiation.status.icon, class:'')%>
          </div>
          <p class="detail-input with-icon"><%= app_negotiation.status.name %></p>
        </div>
        <% else %>
          <div class="relative text-gray-400 dark:text-gray-400">
            <div class='detail-input-icon hover:text-inherit'>
              <%= icon('fa-regular', 'circle', class:'')%>
            </div>
          <p class="detail-input with-icon"><%= t('activerecord.blank_entries.status_negotiation') %></p>
        </div>
        <% end %>

      </div>

      <div class="">
        <p class=""><%= App::Negotiation.human_attribute_name('company_id') %></p>
        <div class="relative">
          <% if app_negotiation.company  %>
            <%= link_to app_negotiation.company, class:'detail-input-icon' do %>
              <%= icon('fa-solid', 'building', class:'')%>
            <% end %>
          <%else %>
            <div class="detail-input-icon hover:text-inherit">
              <%= icon('fa-solid', 'building', class:'')%>
            </div>
          <% end %>
          <p class="detail-input with-icon"><%= app_negotiation.company ? app_negotiation.company.name : t('activerecord.blank_entries.company') %></p>
        </div>
      </div>

    </div>

  </div>
