<turbo-frame id="institutions" class='gap-4' >
  <div class="space-y-4" data-turbo='false' >
    <% if @app_institutions.present? && @cities.count.positive? %>

      <% @cities.each do |city| %>
        <p class="font-bold text-2xl"> <%= city.name %> </p>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-4 gap-4">
          <%= render(@app_institutions.by_city(city)) %>
        </div>
      <% end %>

    <% elsif App::City.by_client(get_client_id).count.zero? %>       <%# if has no city on database %>
      <%= render partial: 'app/shared/has_no_entry', locals: { msg: t('views.app.cities.form.has_no_entry').html_safe,
                                                            entry: App::City.model_name.human, 
                                                            path: new_app_city_path }  %>

    <% elsif App::Institution.by_client(get_client_id).count.zero? %>     <%# if has no institutions on database %>
      <%= render partial: 'app/shared/has_no_entry', locals: { msg: t('views.app.institutions.form.has_no_entry').html_safe }  %>

    <% elsif @cities.count.zero? %>                                 <%# if has no city on @cities %>
      <%= render partial: 'app/shared/has_no_entry', locals: { msg: t('views.app.institutions.index.search_to_start').html_safe } %>
    <% end %>

  </div>
</turbo-frame>
