<% content_for :ctas_primary do %>
 
  <%= link_to new_app_status_negotiation_path, class: "btn-primary flex-none" do %>
    <%= icon('fa-solid','plus',class:'btn-icon') %>
    <%= App::StatusNegotiation.model_name.human %> <span class="text-xs">(<%= App::Negotiation.model_name.human %>)</span>
  <% end %>

  <%= link_to new_app_status_interaction_path, class: "btn-primary flex-none" do %>
    <%= icon('fa-solid','plus',class:'btn-icon') %>
    <%= App::StatusInteraction.model_name.human %>  <span class="text-xs">(<%= App::Negotiation.model_name.human %>)</span>
  <% end %>

  <%= link_to new_app_role_vendor_path, class: "btn-primary flex-none" do %>
    <%= icon('fa-solid','plus',class:'btn-icon') %>
    <%= App::RoleVendor.model_name.human %>  <span class="text-xs">(<%= App::Vendor.model_name.human %>)</span>
  <% end %>
<% end %>

<% provide :head_title, t('controller.app/setting.other') %>
<% provide :page_title, t('controller.app/setting.other') %>

<% content_for :page_content do %>
  <div class="default-grid">
    <%= link_to "#{App::StatusNegotiation.model_name.human(count:2)} (#{App::Negotiation.model_name.human(count:2)})", app_status_negotiations_path, class:'card' %>
    <%= link_to "#{App::StatusInteraction.model_name.human(count:2)} (#{App::Interaction.model_name.human(count:2)})", app_status_interactions_path, class:'card' %>
    <%= link_to "#{App::RoleVendor.model_name.human(count:2)} (#{App::Vendor.model_name.human(count:2)})", app_role_vendors_path, class:'card' %>
  </div>
<%end%>
