<div class="grid grid-cols-2 gap-4">

  <div class="">
    <p class=""><%= App::City.human_attribute_name('state')%></p>
    <p class="detail-input"><%= get_state_name(app_city.state)  %></p>
  </div>

  <div class="">
    <p class=""><%= App::City.human_attribute_name('name')%></p>
    <div class="relative">
      <div class="detail-input-icon"><%=icon('fa-solid','map-location-dot')%></div>
      <p class="detail-input with-icon"><%= app_city.name %></p>
    </div>
  </div>

</div>
