<div class="grid grid-cols-2 gap-4">

  <div class="">
    <p class=""><%= App::City.human_attribute_name('state')%></p>
    <p class="detail-input"><%= get_state_name(app_city.state)  %></p>
  </div>

  <div class="relative">
    <p class=""><%= App::City.human_attribute_name('name')%></p>
    <p class="detail-input"><%=icon('fa-solid','map-location-dot', class:'detail-input-icon')%><%= app_city.name %></p>
  </div>

</div>
