<div data-controller="cities">
<%= form_with(model: app_city, class: "contents") do |form| %>
  <% if app_city.errors.any? %>
    <% flash.now[:error] = app_city.errors.to_a%>
  <% end %>

  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">

    <div class="">
      <%= form.label :state %>
      <%= form.collection_select :state, ConectaAddressBr::States.all, :last, :first, {}, {class: "form-input", data:{cities_target: 'state_input', action:'change->cities#update_state'}} %>
    </div>
   
    <div class="">
      <%= form.label :name %>

      <div class="relative">
          <div class="form-input-icon"><%= icon('fa-solid','map-location-dot') %>  </div>

        <%# default form for new/create %>
        <%= form.collection_select :name, ConectaAddressBr::Cities.by_state_single('AC').map{ |city| [city] }, :first, :first, {}, {class: "form-input with-icon", data:{cities_target: 'cities_select'}} if %w[new create].include?(action_name) %>
        
        <%# default form for edit/update %>
        <%= form.collection_select :name, ConectaAddressBr::Cities.by_state_single(app_city.state).map{ |city| [city] }, :first, :first, {}, {class: "form-input with-icon", data:{cities_target: 'cities_select'}} if %w[edit update].include?(action_name) %>
      </div>
    </div>
  
  </div>

  <div class="mt-4 inline-flex w-full justify-end">
    <%= form.submit class: "btn-primary" %>
  </div>
<% end %>
</div>
