<div id="top" class="px-4 py-4 xl:hidden w-full inline-flex justify-between items-center sticky top-0 bg-white dark:bg-gray-800 z-30">
  <button data-drawer-target="sidebar-multi-level-sidebar" data-drawer-toggle="sidebar-multi-level-sidebar" aria-controls="sidebar-multi-level-sidebar" type="button" class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none  rounded-lg text-sm py-2.5 px-4">
    <span class="sr-only">Open sidebar</span>
    <%= icon('fa-solid','bars')%>
  </button>

  <div class="flex items-center justify-center xl:hidden space-x-2">
    <p class="text-lg"> <%= yield :page_title %> </p>
    <% if content_for(:entry_id)%>
      <p class="description"> <%=icon('fa-solid','hashtag', class:'fa-sm mr-0.5')%><%= yield :entry_id %></p>
    <%end %>
  </div>

  <% if content_for(:sidebar) %>
    <button data-drawer-target="sidebar-multi-level-sidebar-b" data-drawer-toggle="sidebar-multi-level-sidebar-b" data-drawer-placement="right" aria-controls="sidebar-multi-level-sidebar-b" type="button" class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none  rounded-lg text-sm py-2.5 px-4">
      <span class="sr-only">Open sidebar B</span>
      <%= icon('fa-solid','filter')%>
    </button>
  <%else%>
    <a href="#top" data-controller="scroll-to" data-scroll-to-offset-value="100" class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none  rounded-lg text-sm py-2.5 px-4">
      <%= icon('fa-solid','arrow-up', class:"") %>
    </a>
  <%end%>
</div>

<aside id="sidebar-multi-level-sidebar" class=" fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full xl:translate-x-0" aria-label="Sidebar">
  <div class="h-full px-3 overflow-y-auto bg-gray-50 dark:bg-gray-900 scrollbar-hide">

    <div class="sidebar-link-active hidden"></div>

    <%# THEME SWITCHER %>
    <div class="absolute z-40 top-3.5">
      <button id="theme-toggle" type="button" class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none  rounded-lg text-sm p-2.5">
        <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path></svg>
        <svg id="theme-toggle-light-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
      </button>
    </div>

    <%# LAST UPDATE  %>
    <div class="absolute z-30 top-6 left-0 text-xs w-64 px-4 text-end">
      <%= link_to "v#{App::Update.last.version}", App::Update.last %>
    </div>

    <%# BIG HEADER %>
    <div class="pt-5 pb-1 hidden xl:block sticky top-0 bg-gray-50 dark:bg-gray-900">


      <% if get_current_access.client.image.attached?%>
        <img src="<%= (url_for(get_current_access.client.image)) %>" class="block max-h-28 mx-auto">
      <%else%>
        <%= image_tag('favicon.svg', class:'max-h-18 mx-auto mb-6 animate-breathe')%>
        <%= image_tag('favtext-dark.svg', class:'max-h-4 block dark:hidden mx-auto ')%>
        <%= image_tag('favtext-white.svg', class:'max-h-4 hidden dark:block mx-auto ')%>
      <%end%>

      <%# DEVISE %>
      <div class="mt-2 mb-1 flex p-2 font-medium text-xs rounded-lg justify-between items-center ">
        <%= icon('fa-solid','user-shield', class:"text-blue-600") if current_admin %>
        <%= current_access_has_vendor? ? get_current_access.vendor.name : get_current_access.email %>
        <%= link_to get_logout_path, data: {turbo_method: :delete, turbo_confirm: 'Deseja fazer logout do sistema?'} do %>
          <%= icon('fa-solid','sign-out-alt') %>
        <% end %>
      </div>

      <%= render 'app/admins/form', app_admin: current_admin if current_admin %>
    </div>

    <%# SMALL HEADER %>
    <div class="pt-6 pb-1 bg-gray-50 dark:bg-gray-900  sticky top-0 xl:hidden mx-auto">
      <div class="w-full inline-flex justify-center items-center">
        <% if get_current_access.client.image.attached?%>
          <p class="font-bold uppercase tracking-wider"><%= get_current_access.client.name %></p>
        <%else%>
          <%= image_tag('favicon.svg', class:'max-h-4 mr-2 ')%>
          <%= image_tag('favtext-dark.svg', class:'max-h-4 block dark:hidden  ')%>
          <%= image_tag('favtext-white.svg', class:'max-h-4 hidden dark:block ')%>
        <%end%>
      </div>

      <%# DEVISE %>
      <div class="mt-2 mb-1 flex p-2 font-medium text-xs rounded-lg justify-between items-center">
        <%= icon('fa-solid','user-shield', class:"text-blue-600") if current_admin %>
        <%= current_access_has_vendor? ? get_current_access.vendor.name : get_current_access.email %>
        <%= link_to get_logout_path, data: {turbo_method: :delete, turbo_confirm: 'Deseja fazer logout do sistema?'} do %>
          <%= icon('fa-solid','sign-out-alt') %>
        <%end %>
      </div>

      <%= render 'app/admins/form', app_admin: current_admin if current_admin %>
    </div>

    <div class="space-y-1 mb-4">       <%# -------------- %>

      <%# PROSPECÇÕES %>
      <%= link_to app_prospects_path, class: "sidebar-link#{is_link_active?('prospects')} flex justify-between items-center" do %>
      
        <div class="">
          <%= icon('fa-solid', 'receipt', class: "mr-1") %>
          <%= App::Prospect.model_name.human(count: 2) %>
        </div>

        <% if  has_notification? %>
          <%= icon('fa-solid','circle', class:'text-blue-600 animate-notify')%>
        <% end %>

      <% end %>

      <%# ALUNOS %>
      <%= link_to "#", class:"sidebar-link#{is_link_active?('students')} text-red-600 dark:text-red-600  " do %>
        <%= icon('fa-solid','address-book', class:"mr-1")%>
        <%# <%= Prospect.model_name.human(count:2) %>
        <%= t('activerecord.models.students.other')%>
      <%end%>

      <%# ATENDIMENTOS %>
      <%= link_to "#", class:"sidebar-link#{is_link_active?('services')} text-red-600 dark:text-red-600  " do %>
        <%= icon('fa-solid','list', class:"mr-1")%>
        <%# <%= Prospect.model_name.human(count:2) %>
        <%= t('activerecord.models.services.other')%>
      <%end%>

      <%# CIDADES %>
      <%= link_to app_cities_path, class:"sidebar-link#{is_link_active?('cities')}" do %>
        <%= icon('fa-solid','map-location-dot', class:"mr-1")%>
        <%= App::City.model_name.human(count:2) %>
      <%end%>

      <%# INSTITUIÇÕES %>
      <%= link_to app_institutions_path, class:"sidebar-link#{is_link_active?('institutions')}" do %>
        <%= icon('fa-solid','building-columns', class:"mr-1")%>
        <%= App::Institution.model_name.human(count:2) %>
      <%end%>

      <%# CURSOS %>
      <%= link_to "#", class:"sidebar-link#{is_link_active?('courses')} text-red-600 dark:text-red-600  " do %>
        <%= icon('fa-solid','chalkboard-user', class:"mr-1")%>
        <%# <%= Prospect.model_name.human(count:2) %>
        <%= t('activerecord.models.course.other')%>
      <%end%>

      <%# TURMA %>
      <%= link_to "#", class:"sidebar-link#{is_link_active?('turmas')} text-red-600 dark:text-red-600  " do %>
        <%= icon('fa-solid','users-rectangle', class:"mr-1")%>
        <%# <%= Prospect.model_name.human(count:2) %>
        <%= t('Turmas')%>
      <%end%>

      <%# COMERCIAL %>
      <%= link_to "#", class:"sidebar-link#{is_link_active?('comercial')} text-red-600 dark:text-red-600  " do %>
        <%= icon('fa-solid','table-columns', class:"mr-1")%>
        <%# <%= Prospect.model_name.human(count:2) %>
        <%= t('Comercial')%>
      <%end%>

      <%# REPRESENTANTES %>
      <%= link_to app_vendors_path, class:"sidebar-link#{is_link_active?('vendors')} " do %>
        <%= icon('fa-solid','user-group', class:"mr-1")%>
        <%= App::Vendor.model_name.human(count:2) %>
      <%end%>

      <%# CONFIGURAÇÕES %>

      <%# setup for aria-expanded %>
      <% %w'semesters companies users clients updates subscribers'.include?(controller_name) ? ae = true : ae = false %>

      <button type="button" aria-expanded="<%= ae %>" class="dropdown-toggle sidebar-link inline-flex items-center justify-between w-full" aria-controls="dropdown-example" data-collapse-toggle="dropdown-example">
        <div class="">
          <%= icon('fa-solid','gear', class:"mr-1")%>
          <%= t('Configurações')%>
        </div>
        <%= icon('fa-solid', 'chevron-down', class:"")%>
        <%= icon('fa-solid', 'chevron-up', class:"hidden")%>
      </button>
      <ul id="dropdown-example" class="space-y-1 <% if !ae %> hidden <%end%>">

        <%# SEMESTRES %>
        <%= link_to "#", class:"sidebar-link#{is_link_active?('semester')} text-red-600 dark:text-red-600  " do %>
          <%= icon('fa-solid','calendar-check', class:"mr-1")%>
          <%# <%= Prospect.model_name.human(count:2) %>
          <%= t('activerecord.models.semester.other')%>
        <%end%>

        <%# EMPRESAS %>
        <%= link_to "#", class:"sidebar-link#{is_link_active?('companies')} text-red-600 dark:text-red-600  " do %>
          <%= icon('fa-solid','building', class:"mr-1")%>
          <%# <%= Prospect.model_name.human(count:2) %>
          <%= t('activerecord.models.company.other')%>
        <%end%>

        <%# USUÁRIOS %>
        <%= link_to app_users_path, class:"sidebar-link#{is_link_active?('users')}" do %>
          <%= icon('fa-solid','circle-user', class:"mr-1")%>
          <%= App::User.model_name.human(count:2) %>
        <%end%>

        <%# CLIENTES %>
        <%= link_to app_clients_path, class:"inline-flex w-full justify-between items-center sidebar-link#{is_link_active?('clients')}" do%>
          <div class="">
            <%= icon('fa-solid','building-user', class:"mr-1")%>
            <%= App::Client.model_name.human(count:2) %>
          </div>
          <%= icon('fa-solid','user-shield', class:"mr-1 fa-xs")%>
        <% end if admin_signed_in?  %>

        <%# ATUALIZAÇÕES %>
        <%= link_to app_updates_path, class:"inline-flex w-full justify-between items-center sidebar-link#{is_link_active?('updates')}" do%>
          <div class="">
            <%= icon('fa-solid','code-pull-request', class:"mr-1")%>
            <%= App::Update.model_name.human(count:2) %>
          </div>
          <%= icon('fa-solid','user-shield', class:"mr-1 fa-xs")%>
        <% end if admin_signed_in?  %>

        <%# SUBSCRIBERS %>
        <%= link_to app_subscribers_path, class:"inline-flex w-full justify-between items-center sidebar-link#{is_link_active?('subscribers')}" do%>
          <div class="">
            <%= icon('fa-solid','envelope-circle-check', class:"mr-1")%>
            <%= App::Subscriber.model_name.human(count:2) %>
          </div>
          <%= icon('fa-solid','user-shield', class:"mr-1 fa-xs")%>
        <% end if admin_signed_in?  %>

      </ul>
    </div>

  </div>
</aside>
