<div id="<%= dom_id calendar %>" class="card group" data-aos='fade' data-controller="reveal" data-reveal-hidden-class="grid">

  <div class="card-header">

    <div class="card-header-info card-header-animate">
      <p class="card-header-title"><%= link_to calendar.name, app_calendar_path(calendar), class:'card-header-title' %></p>
      <p class="card-header-subtitle card-header-subtitle-animate">
        <% if calendar.active %>
        <%= icon('fa-solid','eye')  %> <%= t('activerecord.options.app/calendar.info.true') %>
        <% else %>
        <%= icon('fa-solid','eye-slash')  %> <%= t('activerecord.options.app/calendar.info.false') %>
        
        <% end %>
      </p>
    </div>

    <%= button_tag class:'card-header-btn', data: { action:"click->reveal#toggle" }  do %>
      <%= icon('fa-solid','bars', class:'fa-sm')%>
    <%end%>

  </div>

  <%# CARD BODY %>
  <% if calendar.active %>
    <p class="card-tag-active"><%= icon('fa-solid','check', class:'')%> <%= t('activerecord.options.app/calendar.active.true')%></p>
  <%else%>
    <p class="card-tag-inactive"><%= icon('fa-solid','xmark', class:'')%> <%= t('activerecord.options.app/calendar.active.false')%> </p>
  <%end%>
  <%# END BODY %>

  <div data-reveal-target="item" class="card-popover" data-action="mouseleave->reveal#show">

    <%= link_to edit_app_calendar_path(calendar), class:'card-popover-btn-primary' do %>
      <%= icon('fa-solid', 'pen-to-square', class:'btn-icon') %>
      <p class=""> <%= t('views.app.general.edit')%></p>
    <%end%>

    <%= button_to app_calendar_path(calendar), method: :patch, class: "card-popover-btn-delete", params: { app_calendar: { active: false } } do %>
      <%= icon('fa-solid','xmark',class:'btn-icon') %>
      Inativar
    <% end if calendar.active %>

    <%= button_to app_calendar_path(calendar), method: :patch, class: "card-popover-btn-primary", params: { app_calendar: { active: true } } do %>
      <%= icon('fa-solid','check',class:'btn-icon') %>
      Ativar
    <% end if !calendar.active %>

  </div>

</div>
