<div id="<%= dom_id prospect %>" class='card group'>

  <div class="card-header">

    <div class="card-header-info card-header-animate ">
      <p class="card-header-title"><%= link_to  prospect.name, app_prospect_path(prospect)%></p>
      <p class="card-header-subtitle card-header-subtitle-animate"><%= time_ago_in_words(prospect.created_at) %></p>
    </div>

    <%= button_tag class:'card-header-btn', data: { popover_target: "popover-click-#{prospect.id}", popover_trigger: "click", popover_placement:"left" } do %>
      <%= icon('fa-solid','bars', class:'fa-sm')%>
    <%end%>

  </div>

  <%# CARD BODY %>
  <% if prospect.vendor %>
    <p class="card-tag-active"><%= icon('fa-solid','user', class:'btn-icon fa-xs')%> <%= prospect.vendor.name %></p>
  <%else%>
    <p class="card-tag-inactive"><%= icon('fa-solid','xmark', class:'btn-icon')%> <%= t('activerecord.options.app/prospect.vendor_id.none')%> </p>
  <%end%>
  <%# END BODY %>

  <div data-popover id="popover-click-<%=prospect.id%>" role="tooltip" class="card-popover invisible">

      <%= button_to app_prospect_path(prospect), method: :patch, class: "card-popover-btn-primary", params: { app_prospect: { vendor_id: get_current_access.vendor_id } } do %>
        <%= icon('fa-solid','check-to-slot',class:'btn-icon') %>
        <%= t('views.app.prospects.button.set_vendor') %>
      <% end if can_set_vendor?(prospect) %>

      <%= link_to edit_app_prospect_path(prospect), class:'card-popover-btn-primary' do %>
        <%= icon('fa-solid', 'pen-to-square', class:'btn-icon') %>
        <p class=""> <%= t('views.app.general.edit')%></p>
      <%end%>

    <div data-popper-arrow></div>
  </div>

</div>
