<%= form_with(model: app_contact, class: "contents") do |form| %>
  <% if app_contact.errors.any? %>
    <% flash.now[:error] = app_contact.errors.to_a%>
  <% end %>

  <div class="grid grid-cols-1 xl:grid-cols-3 gap-4" data-controller='negotiations'>

    <div class="">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-input", placeholder: t('activerecord.placeholders.app/contact.name') %>
    </div>

    <div class="" >
      <%= form.label :phone %>
      <%= form.text_field :phone, class: "form-input", placeholder: t('activerecord.placeholders.app/contact.phone') %>
    </div>

    <div class="">
      <%= form.label :instagram %>
      <div class="relative">
        <%= icon('fa-brands', 'instagram', class:'form-input-icon')%>
        <%= form.text_field :instagram, class: "form-input with-icon", placeholder: t('activerecord.placeholders.app/contact.instagram') %>
      </div>
    </div>

    <div class="">
      <%= form.label :institution_id %>
      <div class="relative">
        <div class="form-input-icon"><%= icon('fa-solid','building-columns', class:'') %>  </div>

        <%= form.collection_select :institution_id, @institutions, :id, :abreviation_and_city, {selected: app_contact.negotiation.nil? ? nil : app_contact.negotiation.course.institution_id, include_blank: t('activerecord.blank_entries.institution_id')}, {class: "form-input with-icon", data:{action:'change->negotiations#update_courses'}} %>

      </div>
    </div>

    <div class="">
      <%= form.label :course_id %>
      <div class="relative">
        <div class="form-input-icon"><%= icon('fa-solid','chalkboard-user', class:'') %>  </div>
        <%= form.collection_select :course_id, @courses, :id, :name, {selected: app_contact.negotiation.nil? ? nil : app_contact.negotiation.course_id, include_blank: t('activerecord.blank_entries.course_id')}, {class: "form-input with-icon", data: {negotiations_target:'courses_select', action:'change->negotiations#update_negotiations'}} %>
      </div>
    </div>

    <div class="">
      <%= form.label :negotiation_id %>
      <div class="relative">
        <div class="form-input-icon"><%= icon('fa-solid','users-rectangle', class:'') %>  </div>
        <%= form.collection_select :negotiation_id, @negotiations, :id, :period_in_words_and_calendar, {selected: app_contact.negotiation.nil? ? nil : app_contact.negotiation.id, include_blank: t('activerecord.blank_entries.negotiation_id')}, {class: "form-input with-icon", data: {negotiations_target:'negotiations_select'}} %>
      </div>
    </div>

    <div class="group">
      <%= form.label :committee, class:'pointer-events-none' %>
      <%= form.check_box :committee, class: "hidden peer" %>
      <%= form.label :committee, class:'form-checkbox w-full dark:bg-gray-900
        group-hover:bg-gray-100        group-hover:peer-checked:bg-blue-700  
        dark:group-hover:bg-gray-950   dark:group-hover:peer-checked:bg-blue-700' do %>
      <% end %>

      <div class="text-base peer-text hidden peer-checked:block "> <%= icon('fa-solid','check')%> <%= t('activerecord.options.app/contact.committee.true')%></div>
      <div class="text-base peer-text block peer-checked:hidden "> <%= icon('fa-solid','xmark')%> <%= t('activerecord.options.app/contact.committee.false')%></div>
    </div>

    <div class="group">
      <%= form.label :informant, class:'pointer-events-none' %>
      <%= form.check_box :informant, class: "hidden peer" %>
      <%= form.label :informant, class:'form-checkbox w-full dark:bg-gray-900
        group-hover:bg-gray-100        group-hover:peer-checked:bg-blue-700  
        dark:group-hover:bg-gray-950   dark:group-hover:peer-checked:bg-blue-700' do %>
      <% end %>

      <div class="text-base peer-text hidden peer-checked:block "> <%= icon('fa-solid','check')%> <%= t('activerecord.options.app/contact.informant.true')%></div>
      <div class="text-base peer-text block peer-checked:hidden "> <%= icon('fa-solid','xmark')%> <%= t('activerecord.options.app/contact.informant.false')%></div>
    </div>

  </div>

  <div class="mt-4 inline-flex w-full justify-end">
    <%= form.submit class: "btn-primary" %>
  </div>

<% end %>
