<%= form_with(model: app_update, class: "contents") do |form| %>
  <% if app_update.errors.any? %>
    <%= flash.now[:error] = app_update.errors.to_a %>
  <% end %>

  <div class="grid grid-cols-1 xl:grid-cols-2 gap-4">

  <div class="">
    <%= form.label :version %>
    <%= form.text_field :version, class: "form-input" %>
  </div>

  <div class="">
    <%= form.label :release_date %>
    <%= form.date_field :release_date, class: "form-input" %>
  </div>

  <div class="">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 4, class: "form-input h-auto" %>
  </div>

  <div class="">
    <%= form.label :added_features %>
    <%= form.text_area :added_features, rows: 4, class: "form-input h-auto" %>
  </div>

  <div class="">
    <%= form.label :removed_features %>
    <%= form.text_area :removed_features, rows: 4, class: "form-input h-auto" %>
  </div>

  <div class="">
    <%= form.label :bugs_fixed %>
    <%= form.text_area :bugs_fixed, rows: 4, class: "form-input h-auto" %>
  </div>

  </div>

  <div class="mt-4 inline-flex w-full justify-end">
    <%= form.submit class: "btn-primary" %>
  </div>

<% end %>
