<div class="space-y-4">

  <%# DETAILS %>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">

    <div class="md:col-span-2">
      <p class=""><%= App::RoleVendor.human_attribute_name('name') %></p>
      <p class="detail-input "><%= app_role_vendor.name%></p>
    </div>

    <div class="">
      <p class=""><%= App::RoleVendor.human_attribute_name('active') %></p>

      <% if app_role_vendor.active %>
        <div class="text-base detail-input dark:bg-blue-600 bg-blue-600 text-white text-center rounded-lg"> <%= icon('fa-solid','check')%> <%= t('activerecord.options.app/role_vendor.active.true')%></div>
      <% else %>
        <div class="text-base detail-input bg-gray-100 text-red-600 text-center rounded-lg "> <%= icon('fa-solid','xmark')%> <%= t('activerecord.options.app/role_vendor.active.false')%></div>
      <% end %>
    </div>


  </div>

</div>
