<div class="space-y-4">

<%# DETAILS %>
<div class="grid grid-cols-1 xl:grid-cols-4 gap-4">

  <div class="">
    <p class=""><%= App::User.human_attribute_name('email') %></p>
    <p class="detail-input "><%= user.email%></p>
  </div>

  <div class="">
    <p class=""><%= App::User.human_attribute_name('active') %></p>
   
    <% if user.active %>
     <div class="text-base detail-input dark:bg-blue-600 bg-blue-600 text-white text-center rounded-lg"> <%= icon('fa-solid','check')%> <%= t('activerecord.attributes.app/user.active_status.true')%></div>
    <% else %>
      <div class="text-base detail-input bg-gray-100 text-red-600 text-center rounded-lg "> <%= icon('fa-solid','xmark')%> <%= t('activerecord.attributes.app/user.active_status.false')%></div>
    <% end %>
  </div>

</div>

<div class="grid grid-cols-1 xl:grid-cols-4 gap-4">

   <div class="">
    <p class=""><%= App::User.human_attribute_name('vendor_id') %></p>
    <p class="detail-input "><%= user.email %></p>
  </div>


  
</div>