<%= form_with(model: app_user, class: "contents") do |form| %>

  <% if app_user.errors.any? %>
    <% flash.now[:error] = app_user.errors.to_a%>
  <% end %>

  <div class="grid grid-cols-1 md:grid-cols-2 2xl:grid-cols-4 gap-4">

    <div class="">
      <%= form.label :email, class:'required' %>
      <%= form.text_field :email, autofocus: true, autocomplete: "email", class:"form-input" %>
    </div>

    <div class=" group">
      <%= form.label :active, class:'pointer-events-none' %>
      <%= form.check_box :active, class: "hidden peer" %>
      <%= form.label :active, class:'form-checkbox w-full dark:bg-gray-900
      group-hover:bg-gray-100        group-hover:peer-checked:bg-blue-700  
      dark:group-hover:bg-gray-950   dark:group-hover:peer-checked:bg-blue-700' do %>
      <% end %>

      <div class="text-base peer-text hidden peer-checked:block "> <%= icon('fa-solid','check')%> <%= t('activerecord.options.app/client.active.true')%></div>
      <div class="text-base peer-text block peer-checked:hidden "> <%= icon('fa-solid','xmark')%> <%= t('activerecord.options.app/client.active.false')%></div>
    </div>

    <% if %w[new create].include?(action_name)  ||  @permission_to_edit  %>
      <div class="">
        <%= form.label :password, class:"#{'required' if %w[new create].include?(action_name)}" %>
        <%= form.password_field :password, autocomplete: "new-password", class:"form-input", placeholder:t('activerecord.placeholders.app/user.password') %>
      </div>

      <div class="">
        <%= form.label :password_confirmation, class:"#{'required' if %w[new create].include?(action_name)}" %>
        <%= form.password_field :password_confirmation, autocomplete: "new-password", class:"form-input", placeholder:t('activerecord.placeholders.app/user.password_confirmation') %>
      </div>
    <% end %>

  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">

    <div class="">
      <%= form.label :vendor_id, class:'' %>

      <div class="flex justify-between space-x-2 items-center ">
        <div class="relative flex-grow">
          <div class="form-input-icon pt-2"><%= icon('fa-solid','user', class:'') %>  </div>
          <%= form.collection_select :vendor_id, App::Vendor.by_client(get_client_id), :id, :name, {include_blank: App::User.human_attribute_name('vendor_not_found')}, {class: "form-input with-icon"} %>
        </div>
        <%= link_to new_app_vendor_path, class: "btn-primary flex-none mt-2 h-10 pt-2.5" do %>
          <%= icon('fa-solid','plus',class:'-mr-2 2xl:-mr-0 btn-icon') %>
          <span class="hidden 2xl:inline"><%= App::Vendor.model_name.human %></span>
        <% end %>

      </div>
    </div>

  </div>

  <div class="mt-4 inline-flex w-full justify-end">
    <%= form.submit class: "btn-primary" %>
  </div>
<% end %>
