<%= form_with(model: app_user, class: "contents") do |form| %>

  <% if app_app_user.errors.any? %>
    <% flash.now[:error] = app_app_user.errors.to_a%>
  <% end %>

  <div class="grid grid-cols-1 xl:grid-cols-4 gap-4">

    <div class="">
      <%= form.label :email, class:'required' %>
      <%= form.text_field :email, autofocus: true, autocomplete: "email", class:"form-input" %>
    </div>

    <div class=" group">
      <%= form.label :active, class:'pointer-events-none' %>
      <%= form.check_box :active, class: "hidden peer" %>
      <%= form.label :active, class:'form-checkbox w-full 
      group-hover:bg-gray-100        group-hover:peer-checked:bg-blue-700  
      dark:group-hover:bg-gray-700   dark:group-hover:peer-checked:bg-blue-700' do %>
      <% end %>

      <div class="text-base peer-text hidden peer-checked:block "> <%= icon('fa-solid','check')%> <%= t('activerecord.attributes.app/app/client.active_status.true')%></div>
      <div class="text-base peer-text block peer-checked:hidden "> <%= icon('fa-solid','xmark')%> <%= t('activerecord.attributes.app/app/client.active_status.false')%></div>
    </div>

    <div class="">
      <%= form.label :password, class:'' %>
      <%= form.password_field :password, autocomplete: "new-password", class:"form-input" %>
    </div>

    <div class="">
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation, autocomplete: "new-password", class:"form-input dark:text-white" %>
    </div>

    <div class="">
      <%= form.label :vendor_id, class:'' %>
      <%# <%= form.collection_select :vendor_id, App::Client.all, :id, :name, {}, {class: "form-input"} %>
      <%= form.text_field :vendor_id, class: "form-input" %>
    </div>

>>>>>>> a759820c143df7d3a776df8e9a3c7abc5a3072c6
  </div>

  

  <div class="mt-4 inline-flex w-full justify-end">
    <%= form.submit class: "btn-primary" %>
  </div>
<% end %>
