<%= form_with(model: app_user, class: "contents") do |form| %>

  <% if app_user.errors.any? %>
    <% flash.now[:error] = app_user.errors.to_a%>
  <% end %>

  <div class="grid grid-cols-1 xl:grid-cols-4 gap-4">

    <div class="">
      <%= form.label :email, class:'required' %>
      <%= form.text_field :email, autofocus: true, autocomplete: "email", class:"form-input" %>
    </div>

    <div class=" group">
      <%= form.label :active, class:'pointer-events-none' %>
      <%= form.check_box :active, class: "hidden peer" %>
      <%= form.label :active, class:'form-checkbox w-full dark:bg-gray-900
      group-hover:bg-gray-100        group-hover:peer-checked:bg-blue-700  
      dark:group-hover:bg-gray-950   dark:group-hover:peer-checked:bg-blue-700' do %>
      <% end %>

      <div class="text-base peer-text hidden peer-checked:block "> <%= icon('fa-solid','check')%> <%= t('activerecord.options.app/client.active.true')%></div>
      <div class="text-base peer-text block peer-checked:hidden "> <%= icon('fa-solid','xmark')%> <%= t('activerecord.options.app/client.active.false')%></div>
    </div>

    <% if %w[new create].include?(action_name)  ||  @permission_to_edit  %>
      <div class="">
        <%= form.label :password, class:'' %>
        <%= form.password_field :password, autocomplete: "new-password", class:"form-input" %>
      </div>

      <div class="">
        <%= form.label :password_confirmation %>
        <%= form.password_field :password_confirmation, autocomplete: "new-password", class:"form-input" %>
      </div>
    <% end %>

  </div>



  <div class="grid grid-cols-1 xl:grid-cols-4 gap-4 mt-4">

    <div class="">
      <%= form.label :vendor_id, class:'' %>

      <div class="relative">
       <div class="form-input-icon"><%= icon('fa-solid','user', class:'') %>  </div>
        <%= form.collection_select :vendor_id, App::Vendor.by_client(get_client_id), :id, :name, {include_blank: App::User.human_attribute_name('vendor_not_found')}, {class: "form-input with-icon"} %>
      </div>
    </div>

     
  </div>

  <div class="mt-4 inline-flex w-full justify-end">
    <%= form.submit class: "btn-primary" %>
  </div>
<% end %>
