<div id="<%= dom_id user %>" class="bg-gray-100  dark:bg-gray-900 rounded-lg p-4 space-y-2">


  <div class="flex items-center justify-between">

    <div class="overflow-x-scroll scrollbar-hide">
     
      <%= link_to user.email, app_user_path(user), class:'font-medium ' %>

      <p class="text-xs "><%= icon('fa-solid','user')%>  <%= false ? 'Nome aqui' : App::User.human_attribute_name('vendor_not_found') %> </p>
    </div>

    <%= button_tag class:'btn-card', data: { popover_target: "popover-click-#{user.id}", popover_trigger: "click", popover_placement:"left" } do %>
      <%= icon('fa-solid','bars', class:'fa-sm')%>
    <%end%>

  </div>

  <div class="flex justify-between items-center">

    <% if user.active %>
      <p class="w-fit text-white tracking-tight px-2.5 py-0.5 text-sm  bg-blue-600 rounded-lg"><%= icon('fa-solid','check', class:'')%> <%= t('activerecord.attributes.app/user.active_status.true')%></p>
    <%else%>
      <p class="w-fit text-red-600 tracking-tight px-2.5 py-0.5 text-sm  bg-gray-200 dark:bg-gray-800 rounded-lg"><%= icon('fa-solid','xmark', class:'')%> <%= t('activerecord.attributes.app/user.active_status.false')%> </p>
    <%end%>

  </div>

  <div data-popover id="popover-click-<%=user.id%>" role="tooltip" class="absolute z-10 invisible inline-block w-auto text-xs transition-opacity duration-300 border bg-gray-100  border-gray-200 rounded-lg  opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800">

    <div class="px-2 py-1 grid grid-flow-col ">

      <%= link_to edit_app_user_path(user), class:'inline-flex items-center py-1 px-2 hover:text-blue-600' do %>
        <%= icon('fa-solid', 'pen-to-square', class:'mr-1') %>
        <p class=""> <%= t('views.app.general.edit')%></p>
      <%end%>
    </div>
    <div data-popper-arrow></div>
  </div>

</div>
