<section data-aos='fade-down' id="" data-navigation-target="" class="  grid place-items-center shadow-inner ">
  <div class="inner-section-default my-12 md:my-20 py-20">

    <div class="max-w-screen-lg space-y-4 text-center mx-auto">
      <h2 data-aos-anchor=".newsletter_aos_trigger" data-aos='zoom-in' class="title"><%= t('views.site.newsletter.unsubscribe.title') %></h2>
      <p data-aos-anchor=".newsletter_aos_trigger" data-aos='zoom-in'  data-aos-delay="50" class=" max-w-screen-md mx-auto"><%= t('views.site.newsletter.unsubscribe.description') %></p>
    </div>

    <div class="my-10">
      <div data-aos-anchor=".newsletter_aos_trigger" data-aos='fade-up' data-aos-delay="50" class="items-center mx-auto space-y-4 max-w-screen-sm sm:flex sm:space-y-0 justify-center">
       
        <div class="relative w-auto my-4 ">
          <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
            <%= icon('fa-solid', 'envelope', class:"text-gray-600") %>
          </div>
          <div class="block p-3 pl-10 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:rounded-none sm:rounded-l-lg focus:ring-0 focus:outline-none  dark:bg-gray-700 dark:border-gray-600   dark:text-gray-400"><%= app_subscriber.email %></div>
        </div>
        <div>
        
        <%= button_to t('views.site.newsletter.unsubscribe.cta'), app_subscriber_path(app_subscriber), method: :delete, class: " w-full py-3 px-5 text-sm font-medium text-center text-white rounded-lg border cursor-pointer bg-blue-700 border-blue-600 sm:rounded-none sm:rounded-r-lg hover:bg-blue-800  dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 cursor-pointer" %>

        </div>
      </div>
    </div>
    

</div>
</section>
