<div class="grid grid-cols-1 xl:grid-cols-2 gap-4">

  <div class="col-span-2">
    <p class=""><%= App::Course.human_attribute_name('institution_id') %></p>
    <div class="relative">
      <%= link_to app_course.institution, class:'detail-input-icon' do %>
        <%= icon('fa-solid', 'building-columns', class:'')%>
      <%end%>
      <p class="detail-input with-icon"><%= app_course.institution.abreviation_and_city %></p>
    </div>
  </div>

  <div class="">
    <p class=""><%= App::Course.human_attribute_name('name') %></p>
    <p class="detail-input"><%= app_course.name%></p>
  </div>

  <div class="">
    <p class=""><%= App::Course.human_attribute_name('duration') %></p>
    <p class="detail-input"><%= app_course.duration%></p>
  </div>

</div>
