<%= turbo_stream.update @target do %>
    <option value=""><%= t('activerecord.options.general.select.default') %></option>
    <%= options_from_collection_for_select(@courses, :id, :name) %>
<% end %>

<%= turbo_stream.update 'app_contact_negotiation_id' do %>
    <option value=""><%= t('activerecord.options.app/contact.select.before_select_course') %></option>
<% end %>
